<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la Page</title>
   
</head>
<body>

    <header class="bg-primary text-white text-center py-4">
        <h1>Bienvenue sur Mon Site</h1>
    </header>

    <main class="container my-5">
        <h2>Section Principale</h2>
        <p>Bonnjour c'est votre visite numero: {{app.session.get('nbVisite')}}</p>
  
        
        <div class="row">
            <div class="col-md-6">
                <h3>Colonne 1</h3>
                <p>Contenu de la première colonne.</p>
            </div>
            <div class="col-md-6">
                <h3>Colonne 2</h3>
                <p>Contenu de la deuxième colonne.</p>
            </div>
        </div>
    </main>

    <footer class="bg-dark text-white text-center py-4">
        <p>&copy; 2024 Mon Site. Tous droits réservés.</p>
    </footer>

</body>
</html>
